@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");

:root {
  --main-color-light: #bdc3c7;
  --main-color-dark: #2c3e50;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--main-color-light);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background: var(--main-color-dark);
  color: var(--main-color-light);
}
@media screen and (max-width: 370px) {
  header {
    height: 100px;
    text-align: center;
    line-height: 2em;
  }
}

h1 {
  font-family: "Koulen", cursive;
  font-size: 2em;
  letter-spacing: 0.05em;
}
main {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  padding: 30px;
}

.card {
  width: 400px;
  height: 200px;
  /* background: #2980b9; */
  border: 1px solid var(--main-color-dark);
  border-radius: 10px;
  display: flex;
}
.card img {
  width: 140px;
  height: 200px;
  border-radius: 10px;
  margin-right: 20px;
}
/* .card-wraper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
} */
a {
  cursor: pointer;
}
